.lager_container{
    height: 80%;
    width: 90%;
    /*border : 1px solid red;*/
}

.lager_reihe{
    height: 33%;    
}

.lager_fach{
    height: 100%;
    border-left: 10px solid lightsteelblue;
    border-right: 10px solid lightsteelblue;
}

.lager_fach_mitte{
    height: 100%;    
}

.lager_quer_linie{
    border-bottom: 10px solid lightsteelblue;
}

.lager_fach_button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
}

.lager_glyph {
    font-size: 50px;
}

.lager_change_button{
    background-color: transparent;
    border-color: transparent;
}

.glyphicon-trash{
    margin-top: 10px;
    color: indianred;
}